.carousel {
    margin-top: 26px;
    width: 100%;
}

.carousel-inner {
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}


.carousel-item {
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    width: 100%;
    height: 500px;
    object-position: center;
    overflow: hidden;
    @include media-breakpoint-down(xs) {
        max-height: 250px;
    }

}

.carousel-item img {
    display: block;
    width: 100%;
    object-fit:cover;
    object-position: center;
    @include media-breakpoint-down(xs) {
        height: 250px;
        max-height: 250px!important;
    }
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
    opacity: 0;

}
.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    
    right: 2%; 
}


.carousel-control:hover {
    opacity: 1;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    background-color: #fff;
    width: 250px;
    height: 50px;
    list-style: none;
    margin: 0;
    padding: 0 0 0 20px;
    z-index: 10;
    position: absolute;
    left: 89%;
    bottom: 0;
    @include media-breakpoint-down(xs) {
        justify-content: center;
        background-color: #ffffff6b;
        left: 20%;
        bottom: 0%;
    }
}

.carousel-indicators li {
    display: inline-block;
    margin: 10px;
    background-color: $gray-600;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.carousel-bullet {
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-indicators li,.carousel-bullet:hover{
    color:$ievents-dark;
    background-color: $ievents-dark;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color:$ievents-pink;
    background-color: $ievents-pinker;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

