.prefooter{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .prefooter-widget{
        
        padding: 0;
        margin: 0;
        overflow: hidden;
        
        img{
            width: auto;
            object-fit:fill;
            height:100%!important;
            @include media-breakpoint-down(xs) {
                object-fit: cover;
                width: 100%;
                height: auto;
            }
        }
    }
    
}
.prefooter-widget.widget_text.widget-count-2{
    padding: 20vh;
    background-color: $gray-200;
    @include media-breakpoint-down(xs) {
        padding: 5vh;
    }
    .prefooter-text{
        color: $gray-600;
        font-family: $Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        width: 50%;
    }
    a{
        font-family: $bold-font;
        width: fit-content!important;
        height:50px;
        border: none!important;
        border-radius: 0;
        font-weight: 700;
        font-size: 14px;
        text-transform: capitalize!important;
        padding: 12px 24px;
        margin: $spacing 0;
        color: $white;
        background-color: $ievents-pink;
        box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);    
    }
    a:hover{
        background-color: $ievents-pinker!important;
        text-decoration: none!important;
    }
    .prefooter-btn{
        width: 300px!important;
    }
}
.footer-top {
    background: $white !important;
    
    .menu {
        padding: 0;
        margin: 0;
        .menu-item {
            list-style: none;
            justify-content: flex-start;
            .nav-link {
                padding: $spacing 0;
                color: $ievents-dark;
                &:hover {
                    color: $primary;
                }
            }
        }
    }
    .footer-brand{
        .img-fluid{
            width: 155px;
        }
        .footer-text{
            font-family: $Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: $ievents-dark;
            margin: 20px 0 40px;
            width: 80%;

        }
        .fa{
            color: $primary;
            font-size: 25px;
        }
    }
    .footer-top-wrapper{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .footer-widgets{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .footer-widget {
        @include media-breakpoint-down(xs) {
            width:40%!important;
            margin-top: 30px;
        }
        .widget-title {
            font-family: $Lato;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            text-transform: capitalize;
            color: $ievents-gray;
        }
        .nav-link{
            font-family: $Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 26px;
            color: $ievents-dark;
            padding: 5px 0!important;
        }
    }
}

.footer-bottom {
    background: $ievents-grey !important;
}