body {
    font-family: $body-font;
    p{
        color: $gray-600;
        font-family: $Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        width: 90%;
    }
}

h1 {
    font-family: $bold-font;
    font-size: 34px;
    font-weight: 700;
    font-style:normal;
    color: $primary;
    padding: 0 0 30px 0;
    @include media-breakpoint-down(md) {
		font-size: 28px;
    }
    @include media-breakpoint-down(sm) {
		font-size: 28px;
    }
    &.section-title {
        text-align: left;
        text-transform: capitalize;
        padding: 0 0 $spacing-lg 0;
    }
}
p{
    font-family: $body-font;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    text-align: left;
    color: $ievents-dark;
    line-height: 135%;
    @include media-breakpoint-down(md) {
		font-size: 14px;
    }
    @include media-breakpoint-down(sm) {
		font-size: 14px;
    }
    &.section-text {
        width: 70%;
        text-align: left;
        text-transform:none;
        padding: 0 0 $spacing-lg 0;
    } 
}
.logo-title{
    color: $primary;
    ;
}
h2 {
	@include media-breakpoint-down(xs) { 
		font-size: 24px;
	}
}

h3 {
	@include media-breakpoint-down(xs) {
		font-size: 18px;
	}
}

.btn {
    font-family: $bold-font!important;
    width: 200px;
    height:50;
    border: none!important;
    border-radius: 0;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize!important;
    padding: 12px 24px;
    margin: $spacing 0;
    color: $white;
    background-color: $ievents-pink;
    box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
    .btn-text{
        margin: 0;
        padding: 0;
    }
    
}
.btn:hover{
    background-color: $ievents-pinker!important;
}
.long-btn{
    width: 300px!important;
}

.wrapper-service{
    background-color: $gray-200;
    width: 100%;
    padding:0px;
    margin:0px;
    .contnt{
        padding: 15em 5em 5em 20em;
    }
    .empty{
        background-size:cover; 
        width: 100%; 
        height: 50em; 
    }
}   
.centered{
    text-align: center!important;
    margin: 20px auto;
    width: 70%;
}
h1.section-title.centered{
    text-align: center!important;
}

.community-widget.widget_media_gallery{
    width: 100%!important;
    margin: 0 0 120px 0;
    padding: 0!important;
    min-width: none!important;
    .gallery{
        display: flex;
        flex-flow: row!important;
        justify-content: center!important;
    }
    .gallery-item{
        margin:5px;
        padding: 5px;
    }
    
    
    img{
        width: 100%;
        object-fit: cover;
        object-position: top;
    }

}
.custom-categories{
    h1{
        font-size: 22px;
        color: $ievents-dark;
        margin: 0px;
        padding: 0px;
    }
    p{
        font-size: 14px;
        line-height: normal;
        padding:0px 0px 20px;
    }
}
.row.container{
    padding: 0px;
}
.no-pd{
    padding: 0px;
}
.empty{
    background-size:cover; 
    width: 100%; 
    height: 50em; 
}
.sm-empty{
    background-size:cover; 
    width: 100%; 
    height: auto; 
} 
.columned{
    display: flex;
    flex-flow: column!important;
    justify-content: left;
}
.content{
    padding: 5em 0px;
}
.service-list{
    list-style: none;
    border-left:4px solid $primary;
    margin-top:30px ;
    p{
        margin: 5px;
    }
}
.actualites-bg{
    background-color: $gray-200!important;
    height: 500px;
    @include media-breakpoint-down(xs) {
        height: fit-content;
    }
}
.actualites-link{
    p{
        color: $ievents-pink!important;
    }
}
#wrapper-actualites{
    width: 100%;
    height: 400px;
    @include media-breakpoint-down(xs) {
        height: fit-content;
    }
    .gallery-item{
        width: 30%;
        margin:30px 0px 30px 5px ;
        padding: 0;
        img{
            object-fit: fill;
            width: 100%;
            margin: 0;
        }
        .gallery-caption{
            background-color: $white;
            padding:30px 20px;
            font-family: $bold-font;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            text-align: left;
            width: 100%;
            @include media-breakpoint-down(xs) {
                display: none;
            }
        }
    }
    .actualites-widget{
        margin: 0 0 120px 0;
        @include media-breakpoint-down(xs) {
            margin: 20px;
        }
    }
    .actualites-title{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    
    #gallery-1.gallery.galleryid-15{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    
    
}


.section {
    padding: 100px 0;
    @include media-breakpoint-down(xs) {
        padding: 60px 0;
    }
}

.contact-cta {
    color: $white;
    padding: $spacing-xxl;
    background: $ievents-gray;
}
.section-who {
    display: flex;
    align-items: center;
    @include media-breakpoint-down(xs) {
        display: block;
    }
    .about-text {
        background: $white;
        position: relative;
        z-index: 2;
        padding: $spacing-xl $spacing-xl $spacing-xl 0;
        @include media-breakpoint-up(md) {
            margin-right: -100px;
            max-width: 500px;
            float: right;
        }
        h1 {
            font-weight: 300;
            text-transform: uppercase;
            padding: 0 0 $spacing-lg 0;
        }
        @include media-breakpoint-down(xs) {
            padding: $spacing-lg;
            margin: 0 auto;
        }
    }
    .about-img {
        position: relative;
        z-index: 1;
    }
}

.product-section {
    .product {
        height: 100%;
        margin-bottom: $spacing-xxl;
        .product-item {
            height: 100%;
            a {
                display: inline-block;
            }
            &.woocommerce {
                .pi-img-wrapper {
                    max-height: 300px;
                    height: 300px;
                    text-align: center;
                    img {
                        height: 100%;
                    }
                    @include media-breakpoint-up(md) {
                        height: 200px;
                    }
                }
                .entry-title {
                    color: $ievents-dark;
                    font-weight: 300;
                    font-size: 18px;
                    text-transform: capitalize;
                }
                .pi-price {
                    color: $ievents-dark;
                    font-size: 18px;
                    text-transform: capitalize;
                }
                .pi-rating {
                    float: left;
                    padding: $spacing 0;
                }
            }
        }
    }
}

.logo-section {
    .logo-carousel {
        .client-logo {
            width: max-content;
            .img-fluid{
                width: auto;
                height: 30px;
                margin: 0 auto;                
            }
            padding: $spacing-sm;
        }
        
    }
    
}
.owl-stage.active{
    width: fit-content!important;
    margin-right: 10px;
}

.section-services {
    height: 40px;
    padding: $spacing-xxl 0;
	.single-service {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
		.service-icon {
			img {
                width: 64px;
				min-width: 64px;
			}
		}
		.service-desc {
            padding-left: $spacing-md;
            .title {
				font-size: 18px;
				font-weight: 700;
				line-height: 1.8em;
			}
			.description {
				margin-bottom: 22px;
				font-size: 14px;
				line-height: 1.8em;
			}
			a {
				color: #fff;
				font-size: 14px;
				text-decoration: none;
				i {
					margin-right: 10px;
					color: #f70037;
				}
			}
		}
	}
}
.services{
    text-align: center;
}
.service-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .service-link{
        background-color: $primary;
        width: 80px;
        height:80px;
        position: relative;
        top: 80%;
        left: 1%;
        @include media-breakpoint-down(xs) {
            left: 3.8%;
        }
        
        .fa{
            color: $white;
            font-size: 35px;
            margin: 20px 0;
        }
    }
    .service-card1{
        width: 100%;
        height: 400px;
        background-image: url(http://doctaroo.fr/sites/ievents/wp-content/uploads/2021/04/image-5.jpg);
        background-repeat: no-repeat;
        background-clip: border-box;
        background-position: top;
    }
    .service-card2{
        width: 100%;
        height: 400px;
        background-image: url(http://doctaroo.fr/sites/ievents/wp-content/uploads/2021/04/image-5-1.jpg);
        background-repeat: no-repeat;
        background-clip: border-box;
        background-position: top;
    }
    .service-card3{
        width: 100%;
        height: 400px;
        background-image: url(http://doctaroo.fr/sites/ievents/wp-content/uploads/2021/04/Rectangle-11.jpg);
        background-repeat: no-repeat;
        background-clip: border-box;
        background-position: top;
    }
    .section-title{
        font-family: $bold-font;
        font-size: 34px;
        font-weight: 700;
        font-style:normal;
        color: $ievents-dark;
        padding: 0 0 30px 0;
        text-align: center;
        @include media-breakpoint-down(md) {
            font-size: 28px;
        }
        @include media-breakpoint-down(sm) {
            font-size: 28px;
        }
    }
    .service-top{
        text-align: left!important;
    }
    
}
a.service-btn{
    width:300px!important;
}

.category-section {
    display: flex;
    justify-content: center;
    .category {
        background-color: $ievents-grey;
        margin-bottom: $spacing-lg;
        .category-inner {
            padding: $spacing-lg;
            min-height: 350px;
            word-wrap: break-word;
        }
        .category-image {
            margin-top: $spacing-lg;
            max-height: 200px;
            overflow: hidden;
        }
    }
}
.sm-title{
    color: $ievents-dark;
    font-size: 12px;
    font-weight: 300;
    text-transform:uppercase !important;
    width: fit-content;
    margin: 0;
    display: inline-block;
}
.sm-title-dash{
    background-color: $ievents-dark;
    width: 60px;
    height: 1px;
    margin: 3px 20px;
    display: inline-block;
}
.section-title strong{
    font-family: $bold-font;
    font-size: 34px;
    font-weight: 700;
    font-style:normal;
    color: $primary;
    padding: 0 0 30px 0;
    @include media-breakpoint-down(md) {
		font-size: 28px;
    }
    @include media-breakpoint-down(sm) {
		font-size: 28px;
    }
}
img.wp-post-image {
    width: 50%;
    height: auto;
}
.woocommerce-loop-category__title{
        font-size: 22px;
        color: $ievents-dark;
        text-align: center;
        mark.count{
            display: none;
        }

}

#searchsubmit{
    margin-top: 0px;
    height: 38px;
    border-radius: 0px 38px 38px 0px;
}
.woocommerce-Price-amount.amount{
    display: none;
}